/* v1.0.0.1 */
a.disabled {
	color: lightgrey !important;
	pointer-events: none;
}

p {
	text-align  : justify;
	text-justify: inter-word;
	text-indent : 2ex;
}

header {
	width: 100%;
	display: flex;
    justify-content: center;
	overflow: hidden;
}

header h3 {
	text-align: left;
	margin-bottom: 0;
}

footer {
	color: #9d9d9d;
	background-color: #222;
	bottom: 0px;
	width: 100%;
	margin-top: 1em;
	padding: 1em;
}

footer * {
	text-align: center;
	text-indent: 0;
}

#abs {
	position: absolute;
	margin-top: -21.428571428571428571428571428572%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#abs > img { height: 21.428571428571428571428571428572vh; }

#abs > * {
	white-space: nowrap;
	margin: 0 auto;
	color: #D3E3E1;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px 3px black;
	text-align: center;
}

#abs a { color: #D3E3E1; }

#abs a:hover { color: #A3F3F1; }

#abs.jumbotron { background-color: transparent; }

#abs .animate {
	-moz-animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
}

#banner {
	flex: none;
	width: 100%;
	height: 42.857142857142857142857142857143%;
}

#lang-sel > li > a > .lang-code {
	color: lightgrey;
	float: right;
}

#dwnTitle { font-weight: bold; }

#dwnList > div.panel { padding: 0; }

#dwnList .panel-primary > .panel-heading {
	font-size: large;
	background-color: #007a7a;
	border-color: #007070;
}

#dwnList .panel-primary { border-color: #007070; }

#dwnNote {
	color: grey;
	padding-left: 1ex;
	padding-right: 1ex;
}

#my-Projects {
	margin: 0;
	width: 100%;
}

#my-Projects p {
	text-align: center;
	margin: 0 auto 1.5ex;
}



@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

.animate.fade.out {
	-moz-animation-name: fade;
	-webkit-animation-name: fade;
	animation-name: fade;
}

.animate.fade.in {
	-moz-animation-name: fade;
	-moz-animation-direction: reverse;

	-webkit-animation-name: fade;
	-webkit-animation-direction: reverse;

	animation-name: fade;
	animation-direction: reverse;
}

.animate.fade.in-out {
	-moz-animation-name: fade;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-direction: alternate-reverse;

	-webkit-animation-name: fade;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate-reverse;

	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.animate.fade.out-in {
	-moz-animation-name: fade;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-direction: alternate;

	-webkit-animation-name: fade;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;

	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.animate.infinite {
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.hCenter {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.logoInBackground {
	background-image: url("../img/logoAND.svg");
	background-size: auto 60%;
	background-repeat: no-repeat;
    background-position: center;
}

.carousel { padding: 0 }

.carousel-control { background-image: none !important; }

.carousel-title {
	color: dimgrey;
}

.carousel-caption {
	right: 0;
	left: 0;
	padding-bottom: 20px;
	background: grey;
	opacity: .8;
}

.carousel-indicators { margin-bottom: 10px; }

.carousel-caption > h3 { margin: 0 auto; }

.project-img img {
	text-align: center;
	margin: 0 auto;
}

.navbar {
	position: absolute;
	width: 100%;
	background-color: rgba(34, 34, 34, .5);
	border: none;
	border-radius: 0;
}

@media screen and (max-width: 768px) {
	header h3 { text-align: center; }

	#abs { margin-top: -25vh; }

	#banner {
		height: 50vh;
		width: auto;
	}

	#header-social { float: none; }
	#lang-sel > li > a.disabled, #lang-sel > li > a > .lang-code { color: dimgrey !important; }

	.carousel-caption>p { display:none; }
}
