/* v1.0.0.1 */
a.disabled {
	color: lightgrey !important;
	pointer-events: none;
}

p {
	text-align  : justify;
	text-justify: inter-word;
	text-indent : 2ex;
}

header {
	text-align: center;
	margin: auto;
	padding: 10px;
	color: white;
	background: rgb(98,125,77);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 );
}

header h3 {
	text-align: left;
	margin-bottom: 0;
}

footer {
	color: #9d9d9d;
	background-color: #222;
	bottom: 0px;
	width: 100%;
	margin-top: 1em;
	padding: 1em;
}

footer * {
	text-align: center;
	text-indent: 0;
}

#header-social { float: right; }
#header-social > a { color: white; }

#lang-sel > li > a > .lang-code {
	color: lightgrey;
	float: right;
}

#dwnTitle {
	font-weight: bold;
}

#dwnList > div.panel { padding: 0; }

#dwnList .panel-primary > .panel-heading {
	font-size: large;
	background-color: #007a7a;
	border-color: #007070;
}

#dwnList .panel-primary { border-color: #007070; }

#dwnNote {
	color: grey;
	padding-left: 1ex;
	padding-right: 1ex;
}

#my-Projects p {
	text-align: center;
	margin: 0 auto 1.5ex;
}

.logoInBackground {
	background-image: url("../img/logoAND.svg");
	background-size: auto 60%;
	background-repeat: no-repeat;
    background-position: center;
}

.carousel-title {
	color: dimgrey;
}

.carousel-caption {
	right: 0;
	left: 0;
	padding-bottom: 20px;
	background: grey;
	opacity: .8;
}

.carousel-indicators { margin-bottom: 10px; }

.carousel-caption > h3 { margin: 0 auto; }

.project-img img {
	text-align: center;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	header h3 { text-align: center; }

	#header-social { float: none; }
	#lang-sel > li > a.disabled, #lang-sel > li > a > .lang-code { color: dimgrey !important; }

	.carousel-caption>p { display:none; }
}
